
mat-card {
  margin: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 10px 0;
}

.furniture-list {
  margin: 20px;
}

.furniture-card {
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.mat-list-item {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
    height: fit-content;
}
